@model BDAS2_SemPrace.Models.Sklady

@{
    ViewData["Title"] = "Details";
}
<div class="container-mt3" style="margin:2rem;">

    <h1>Details</h1>

    <div>
        <h4>Sklady</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Nazev)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Nazev)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IdAdresaNavigation)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IdAdresaNavigation.Mesto)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.IdSklad">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>