@{
    ViewData["Title"] = "Data";
}

<div class="container mine">
    <h1 class="text-center">Data</h1>

    <div class="mine">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Uživateli</h5>
                        <a href="~/Usery" class="btn btn-primary">Zobrazit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Zákazníci</h5>
                        <a href="~/Zakaznici" class="btn btn-primary">Zobrazit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mine">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Zaměstnanci</h5>
                        <a href="~/Zamestnanci" class="btn btn-primary">Zobrazit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Zboží</h5>
                        <a href="~/Zbozi" class="btn btn-primary">Zobrazit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mine">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Supermarkety</h5>
                        <a href="~/Supermarkety" class="btn btn-primary">Zobrazit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sklady</h5>
                        <a href="~/Sklady" class="btn btn-primary">Zobrazit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mine">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Platby</h5>
                        <a href="~/Platby" class="btn btn-primary">Zobrazit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Prodeje</h5>
                        <a href="~/Prodeje" class="btn btn-primary">Zobrazit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mine">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Značky</h5>
                        <a href="~/Znacky" class="btn btn-primary">Zobrazit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Kategorie</h5>
                        <a href="~/Kategorie" class="btn btn-primary">Zobrazit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mine">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Adresy</h5>
                        <a href="~/Adresy" class="btn btn-primary">Zobrazit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pracovní místa</h5>
                        <a href="~/PracovniMista" class="btn btn-primary">Zobrazit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mine">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pokladny</h5>
                        <a href="~/Pokladny" class="btn btn-primary">Zobrazit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pulty</h5>
                        <a href="~/Pulty" class="btn btn-primary">Zobrazit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mine">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Logs</h5>
                        <a href="~/LogTable" class="btn btn-primary">Zobrazit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Obrazky</h5>
                        <a href="~/Obrazky" class="btn btn-primary">Zobrazit</a>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>


