@model IEnumerable<BDAS2_SemPrace.Models.Zbozi>

@{
    ViewData["Title"] = "Index";
}



<h1>Náš sortiment</h1>

<div class ="card-deck" style=" display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 2em;">

@foreach (var item in Model){
            <div class="card" >
			<div class="card-body" @*style="height: 200px; width: 100%; display: block;"*@>
                <img class="card-img-top" style="height: contain; width: contain; display: block;" src="@Html.DisplayFor(modelItem => item.Obrazek)" data-holder-rendered="true">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.NazevZbozi)</h5>
                <p class="card-text">
                    @{
                        if (item.Popis != "")
                        {
                            <p>@Html.DisplayFor(modelItem => item.Popis)</p>
                        }
                    }
                </p>
                <h5 class="card-text" style="color:darkgoldenrod"> @Html.DisplayFor(modelItem => item.Cena) Kč</h5>
                @*<a href="#" class="btn btn-primary">View details</a>*@
                </div>
            </div>   
        }
</div>

